*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: fuchsia;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
}

p, label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}

.cabecalho {
    height: 100px;
    padding: 20px;
    background-color: #0a080f;
}

.cabecalho h3{
    color: #e00a0a;
    margin-top: 0;
}

.from-conteienr {
    background-color: #dfdfdf;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.from-header {
    border-bottom: 1px solid #dfdfdf;
    height: 45px;
}

.from-header p {
    color: #673ab7;
    border-bottom: 2px solid #673ab7;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    list-style: 45px;
}

.frem-body {
    padding: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body {
    padding: 30px;
}

.titulo-form {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: red;
}

.caixaInputs{
    margin-bottom: 35px;
}

.blok{
    display: block;
}

.caixaOpcinal{
    display: inline-block;
    margin: 0 30px 0 30px;
}

.caixaOpcinal li{
    list-style: none;
    margin-bottom: 5px;
}